
.App {
  
  text-align: center;
  #quote-box{
    background-color: white;
    transition: color 1.5s linear;
    // color: #282c34;
    border-radius: 15px;
    padding: 25px;
    min-width: 20%;
    #author{
     text-align: end;
     font-weight: 300;
     padding:10px;
    }
    .buttons{
      display: flex;
      justify-content: space-between;
      min-height: 50px;
      #tweet-quote{
        float: left;
        padding: 10px;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        display: flex;
        align-self: center;
        justify-content: center;
        transition: background-color 1.5s linear;
       }
       .buttonFA{
        min-height: 50px;
        float: left;
        min-width: 50px;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        display: flex;
        align-self: center;
        justify-content: center;
        transition: background-color 1.5s linear;
        border: none;
       }
        .buttonFaB{
          min-height: 35px;
          min-width: 35px;
          align-self: center;
          display: flex;
          transition: background-color 1.5s linear;
       } 
      #new-quote{
        float: right;
        padding-right: 4%;
        color: white;
        border-radius: 10px;
        padding: 12px;
        border: none;
        cursor: pointer;
        font-size: 17px;
        transition: background-color 1.5s linear;
      }
    }
     
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    transition: background-color 1.53s linear;

  }
}

@media only screen and (max-width:600px){
  .App{
    #quote-box{
      width: 90%;
      padding: 10px;
    }
  
    .buttons{
  flex-direction: column-reverse;
      #new-quote{
        margin-bottom: 10px;
      }
      #tweet-quote{
        min-width: 30px;
        margin: 9px;
        min-height: 25px;
        align-self: center;
        align-content: center;
       }
    }
  }
}


